/* Login css */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f0f2f5;
}
.login{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.login-title{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
    left:20px;
    color:#0866ff;
}
h3{
    left:5px;
}
.head p{
    margin:0;
    font-size: 30px;
}
.head{
    margin-top: 250px;
    justify-content: space-between;
    text-align: center;
}
.subhead{
    background-color: #fff;
    margin:15% 13% 30% 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    height: 400px;
    width: 30%;
    box-shadow: 5px 10px 8px #888888;
}
form{
    width: 100%;
}
.details{
    border-bottom: 1px solid #ccc;
}
.email,.password,.submit{
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 3px;
    width: 100%;
    padding: 16px 16px;
}
input{
    width: 95%;
    font-size: 18px;
    padding: 8px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}
input:visited{  
    border: 1px solid #0866ff;
}
.submit{
    width: 100%;
    padding: 16px 16px;
    
}
.login-submit-btn{
    color:#fff;
    font-weight: bolder;
    align-items: center;
    background-color: #0866ff;
    border-radius: 8px white;
    bottom: 0;
}
input:hover{  
    border: 1px solid black;
}
a{
    text-decoration: none;
}
.f-password{
    text-align: center; 
    padding-bottom: 10px;
}
.signup-btn-div{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.signup-btn{
    color: #fff;
    background-color: #2ea90c;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 100%;
    width: 50%;
    font-size: 18px;
    margin: 8px;
}

@media all and (max-width: 1000px){
    .login{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .head{
        margin-top: 50px;
        justify-content: space-between;
        text-align: center;
    }
    .subhead{
        align-items: center;
        justify-content: center;
        background-color: #fff;
        display: flex;
        border: 1px solid #ccc;
        border-radius: 10px;
        flex-direction: column;
        height: 350px;
        width: 60%;
        box-shadow: 5px 10px 8px #888888;
    }
    .login-title{
        font-size: 25px;
        font-weight: bolder;
        left:20px;
        color:#0866ff;
    }
    h3{
        left:5px;
    }
    .head p{
        margin:0;
        font-size: 15px;
    }
}

/* Signup css*/

.container{
    display: flex;
    justify-content: center;
}
.signup{
    position: absolute;
    display: none;
    top: 10px; /* Adjust this value as needed */
    left: 50%; /* Adjust this value as needed */
    transform: translateX(-50%);
    justify-content: start;
    margin-top: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 500px;
    width: 30%;
    box-shadow: 5px 10px 8px #888888;
}
.signup-head{
    width: 100%;
    margin-top: 8px;
    margin-left: 16px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.login-btn{
    position: relative;
    right:25px;
    top:5px;
    border: 0;
}
.login-btn:hover{
    font-size: 20px;
    color:red;
}
.signup-title{
    margin-bottom:3px ;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;    
}
.input-field{
    padding: 16px;
}
.half-width{
    display: flex;
    justify-content: space-between;
}
.firstname,.surname{
    width: 48%;
    font-size: 16px;
    padding: 6px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f0f2f5;
}
.new-email,.new-password,.date{
    background-color: #f0f2f5;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    padding: 6px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}

.dob-label,.gender-label{
    color: #666565;
    font-size: 14px;
    margin-bottom: 0;
}
.quad-width{
    display: flex;
    justify-content: space-between;
}
.radio-btn{
    background-color: #f0f2f5;
    padding: 6px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.radio-btn label{
    color:#75758e
}
.terms{
    padding-top: 10px;
    font-size: 10px;
}
.submit{
    width: 100%;
    padding: 16px 16px;
    
}
.signup-submit-btn{
    color:#fff;
    font-weight: bolder;
    align-items: center;
    background-color: #2ea90c;
    border-radius: 8px white;
    bottom: 0;
}
.signup-popup{
    display:block;
}
.login-popup{
    /*opacity: 0.2;*/
}
